<!DOCTYPE HTML>
<html>
	<head>
		<title>SSU GALLERY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"></noscript>
        
    <style>
      #loading {
      width: 100%;   
      height: 100%;   
      top: 0px;
      left: 0px;
      position: fixed;   
      display: block;   
      opacity: 0.7;   
      background-color: #fff;   
      z-index: 99;   
      text-align: center;
      padding: 350px 10px;}  
      
      #loading-image {   
      position: absolute;   
      top: 50%;   
      left: 50%;  
      z-index: 100; } 
    </style>
        
	</head>
	<body class="landing is-preload">
        <form action="/success" method="post" enctype = "multipart/form-data">
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>SSU Photo GALLERY</h2>
							<p>Welcome to SSU Gallery</p>
							<br>
							<ul class="actions special">
								<label for="input-file">Upload your image</label>	
								<input id="input-file" type="file" name="file" required>
								<!--<li><a href="#" class="button primary">Activate</a></li>-->
								&nbsp;
								<input type="submit" value="submit" onclick="$('#loading').show();" ></form>
							</ul>
						</div>
					</section>
        <div id="loading" style="display:none;">
            <img src={{ url_for('static', filename='image/loading_horse.gif') }} alt="" />
            <br>
            <img src={{ url_for('static', filename='image/loading_wave.gif') }} alt="" /></div>
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	</body>
</html>